

.search-results-container{
    min-height: 100vh;
}

.back-toggle-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.toggle-icon-container{
    display: flex;
}

.results-container{
    padding: 25px;
}

.cards-container{
    padding-left: 0px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}